version: "3"
services:

  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/
    privileged: true

  appserver:
    container_name: real-estate-agent
    image: real-estate-agent-server
    build:
      context: /java-svc/.
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  appclient:
    image: real-estate-agent-client
    build:
      context: /frontend/.
      dockerfile: Dockerfile
    ports:
      - "3000:3000"  
    volumes:
      - .:/frontend/app
      - /frontend/app/node_modules
      - /frontend/app/.next

  fastapi:
    image: real-estate-agent-fastapi
    build:
      context: /python-svc/.
      dockerfile: Dockerfile
    command: sh -c "uvicorn main:app --reload --port=8000 --host=0.0.0.0"
    ports:
      - 8000:8000
    
